<%- include('../partials/head') %>

    <!-- Topbar Start -->
    <div class="container-fluid">
        <p class="text-xl-center fa-2x pt-2"><strong>Welcome to Admin Panel</strong></p>
        <%- include('../partials/flash') %>



    </div>
    <!-- Topbar End -->
    
    <!-- Navbar Start -->
    <div class="container-fluid">
      <div class="row border-top px-xl-5">
          <div class="col-lg-3 d-none d-lg-block">

              <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
                  id="navbar-vertical">
                  <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">

                      <a href="/admin/category" class="nav-item nav-link">Categories</a>
                      <a href="/admin/product" class="nav-item nav-link ">Products</a>
                      <a href="/admin/new-arrivals" class="nav-item nav-link ">New Arrival</a>
                      <a href="/admin/trendingproducts" class="nav-item nav-link">Trending</a>
                      <a href="/admin/navbar" class="nav-item nav-link">Navbar</a>
                      <a href="/admin/wholesaletabs" class="nav-item nav-link">WholeSale</a>
                      <a href="/admin/quotations" class="nav-item nav-link">Orders</a>
              
                      <a href="/user/all" class="nav-item nav-link bg-active">Signup Record</a>

                  </div>
              </nav>
          </div>
          <div class="col-lg-9">
           
            
          </div>
      </div>
  </div>
  <!-- Navbar End -->


<link rel="stylesheet" type="text/css" href="/stylesheets/orders.css">

<div class="orders"> 
  <h2 class="title">User Management</h2>
  <h1>Total Users:  <%= users.length %></h1>
  <ul>
    <% users.forEach(function(user) { %>
      <li>
        <strong>Name:</strong> <%= user.Firstname %> <%= user.Lastname %><br>
        <strong>Email:</strong> <%= user.email %><br>
        <strong>Phone:</strong> <%= user.phone %><br>
        <strong>Company:</strong> <%= user.companyname %><br>
      </li>
    <% }); %>
  </ul>
</div>

<%- include('../partials/body') %>


