<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Home Page</title>
   <link href="/stylesheets/stylehead.css" rel="stylesheet type=" text/css">
   <link href="/stylesheets/home.css" rel="stylesheet type=" text/css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300&display=swap"
      rel="stylesheet"><!-- Font Awesome -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>

<body>
   <div class="header">
      <nav class="color-bg">
         <center>
            <button class="hamburger" id="hamburger"><i id="icon" class='bx bx-menu hidden'></i></button>

            <div class="nav-items" id="navItem">
               <ul class="nav-links specificID text-with-stroke">
                  <li ><a href="/">Home</a></li>

                  <% navbars.forEach(navbar=> { %>
                     <li class="">
                        <a class="">
                           <%= navbar.name %>
                        </a>
                        <div class="dropdown">
                           <ul>
                              <% navbar.categories.forEach(category=> { %>
                                 <li style=" width: 100%;"><a style=" color: #ffffff !important;" class="text-with-stroke"
                                       href="/user/showProducts/<%= category._id %>">
                                       <%= category.name %>
                                    </a>
                                 <% if(category.products.length){ %>
                                    <ul class="menunasted text-with-stroke" >
                                       <% category.products.forEach(product=> { %>
                                          <li style=" width: 100%;">
                                             <a  href="/user/product/<%= product._id %>">
                                               <%=product.productTitle  %></a>
                                          </li>
                                          <% }) %>
                                    </ul>
                                <% } %>
                                    
                                 </li> <!-- Use category.name instead of category._id -->
                                 <% }) %>
                           </ul>
                        </div>
                     </li>

                     <% }) %>
                        <li><a href="/user/aboutus">About Us</a></li>
                        <li><a href="/user/contactus">Contact us</a></li>
               </ul>
               <div id="logoArea" class="swing">
                  <a href="/"><img src="/images/logo.jpg" alt="" class="logoArea1"></a>
               </div>
            </div>
            <!-- dropdownBurger -->
            <div class="dropDownBurger ">
               <ul>
                  <li><a href="/">Home</a></li>
                  <% navbars.forEach(navbar=> { %>
                    
                     <li class="nav-item">
                        <button class="dropdown-btn">   <%= navbar.name %>
                           <!-- <i class="fa fa-caret-right"></i>  -->
                         </button>
                        
                         <div class="dropdown-container">
                             <% navbar.categories.forEach(category=> { %>
                  <ul >
                     <li>
                        <a href="/user/showProducts/<%= category._id %>"> <%= category.name %> </a>
                     </li>
                        
                        <% }) %>
                     </ul>  
                              

                              
                           
                        
                         </div>
                     </li>
                     <% }) %>
                  <li><a href="/user/aboutus">About Us</a></li>
                  <li><a href="/user/contactus">Contact Us</a></li>
                  <li>
                     <form action="/user/search" class="searchForm">
                        <input type="text" class="search-data" name="q" required>
                        <button type="submit" class="searchButton"><b>Search</b></button>
                     </form>
                  </li>
                  <li>
                     <div class="signupDiv">
                        <% if(!user) {%>
                           <a class="signuptxt" href="/user/login" style="color: black;" class="signupA"><b>Log in
                              </b></a>

                           <% }else{ %>
                              <a class="signuptxt" href="/user/logout" style="color: black;"
                                 class="signupA"><b>Logout</b></a>

                              <% } %>
                     </div>
                  </li>
               </ul>
            </div>
            <!-- dropdownBurgerEnd -->
         </center>
         <div class="searchHidden">
            <form action="/user/search" class="searchForm">
               <input type="text" class="search-data" name="q" required>
               <button type="submit" class="searchButton"><b>Search</b></button>
            </form>
            <div class="signupDiv">
               <% if(!user) {%>
                  <a class="signuptxt" href="/user/login" class="signupA"><b>Log in </b></a>
                  <svg width="21" height="21" style="margin-top: 8px;" viewBox="0 0 21 21" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                     <path
                        d="M10.5 10.5C13.4006 10.5 15.75 8.15063 15.75 5.25C15.75 2.34938 13.4006 0 10.5 0C7.59937 0 5.25 2.34938 5.25 5.25C5.25 8.15063 7.59937 10.5 10.5 10.5ZM10.5 13.125C6.99563 13.125 0 14.8837 0 18.375V21H21V18.375C21 14.8837 14.0044 13.125 10.5 13.125Z"
                        fill="#ffffff" />
                  </svg>
                  <% }else{ %>
                     <a class="signuptxt" href="/user/logout" class="signupA"><b>Logout</b></a>
                     <svg width="21" height="21" style="margin-top: 8px;" viewBox="0 0 21 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M10.5 10.5C13.4006 10.5 15.75 8.15063 15.75 5.25C15.75 2.34938 13.4006 0 10.5 0C7.59937 0 5.25 2.34938 5.25 5.25C5.25 8.15063 7.59937 10.5 10.5 10.5ZM10.5 13.125C6.99563 13.125 0 14.8837 0 18.375V21H21V18.375C21 14.8837 14.0044 13.125 10.5 13.125Z"
                           fill="#ffffff" />
                     </svg>
                     <% } %>
            </div>
         </div>
      </nav>
      <script>
         /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
         var dropdown = document.getElementsByClassName("dropdown-btn");
         var i;
         
         for (i = 0; i < dropdown.length; i++) {
           dropdown[i].addEventListener("click", function() {
             this.classList.toggle("active");
             var dropdownContent = this.nextElementSibling;
             if (dropdownContent.style.display === "block") {
               dropdownContent.style.display = "none";
             } else {
               dropdownContent.style.display = "block";
             }
           });
         }
         </script>
 